.Admin {
    width: 100%;

    tr {
        td {
            background: #eee;
        }

        &:nth-child(even) {
            td {
                background: #999;
            }
        }
    }
}